﻿@model AeonInventory.Models.RolesMaster

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/_InnerpageLayout.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<style>
    .ui-autocomplete-loading {
        background: white url("images/ui-anim_basic_16x16.gif") right center no-repeat;
    }
</style>
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
       <div class="form-group control-label" style="float:right; font:bold;">Roles Available :- @ViewBag.RolesCount</div>
        <input type="hidden" id="waybillcount" value="@ViewBag.RolesCount" />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.WaybillNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.WaybillNo, new { htmlAttributes = new { @class = "form-control" }, @id = "txtwaybill" })
                @Html.ValidationMessageFor(model => model.WaybillNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" ,@type="date"} })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RolesAssigned, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.RolesAssigned, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RolesAssigned, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.TicketsSold, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                @Html.EditorFor(model => model.TicketsSold, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TicketsSold, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
<script>
   $(function getData () {

       //var dataSrc = ["30100001", "30100002", "30100001", "30100003", "30100004"];
     
            $("#WaybillNo").autocomplete({
                source: function (data, response) {

                    $.ajax({
                        //url: 'http://localhost:51780/GetWayBillForRoles?searchText=' + $("#WaybillNo").val(),
                        url: 'http://api.tmtrt.com/GetWayBill?searchText=' + $("#WaybillNo").val(),
                        success: function (data) {
                            response(data);
                        }
                    })

                },
                minLength: 4
            });

    });
    $(Document).ready(function () {
        if ($("#waybillcount").val() <= 70)
       {
           alert("Roles count less then 70 plese order roles");
       }
    });

</script>


    
    }

@*<script>
    $(function () {
        var getData = function (request, response) {
            $.ajax({

                //url: Endpoint + '/api/'GetWayBill ? searchText =' + searchText,
                url: 'http://tmt.transportrt.com/GetWayBill?searchText=' + request.term,
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "JSON",
                data: { id: id },
                //data: JSON.stringify(id),
                success: function (data) {
                    console.log(data);
                    alert("");
                    response(data);

                },
                error: function (data) {
                    //console.log(data);
                    /*debugger*/;
                    alert(data.error);
                }
            });
        };

        var selectItem = function (event, ui) {
            $("#WaybillNo").val(ui.item.value);
            return false;
        }
        //$("#txt").autocomplete();
        $("#WaybillNo").autocomplete({
            source: getData,
            select: selectItem,
            minLength: 4,
            change: function () {
                $("#WaybillNo").val("").css("display", 2);
            }
        });
    });
</script>*@



@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
