﻿@model AeonInventory.Models.Inventory

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/_InnerpageLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Inventory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InventoryType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InventoryType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InventoryCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InventoryCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Configuration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Configuration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vendor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
